#header{
    background: url(https://images.unsplash.com/photo-1542741065-3c98eaf187b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}